In [5]:
import os
import pandas as pd
import numpy as np

In [6]:
db_path = "E:\datafountain\dataset_2\db\csv\db.csv"
db_data = pd.read_csv(db_path,engine="c",encoding="utf-8")

In [7]:
db_data.head()

,Unnamed: 0,destination_ip,destination_port,protocol,record_time,source_ip,sql_info
0,0,10.24.249.104,3306,mysql,2019-06-04 00:29:04.445,10.56.92.187,SET NAMES utf8 #4294967295
1,1,10.24.249.104,3306,mysql,2019-06-04 00:29:04.446,10.56.92.187,set autocommit=04294967295
2,2,10.24.249.104,3306,mysql,2019-06-04 00:29:04.447,10.56.92.187,SELECT cmd FROM `command`
3,3,10.49.148.131,3306,mysql,2019-06-04 00:29:04.628,10.49.148.130,SET NAMES utf8 #4294967295
4,4,10.49.148.131,3306,mysql,2019-06-04 00:29:04.629,10.49.148.130,set autocommit=04294967295

In [8]:
db_data.shape

(3878893, 7)

In [9]:
db_protocol = db_data["protocol"]
db_protocol.groupby(db_protocol).count()

protocol
mysql    3878893
Name: protocol, dtype: int64

In [24]:
db_data.iloc[:1000000,:].to_csv("db_1.csv")
db_data.iloc[1000001:2000000,:].to_csv("db_2.csv")

In [25]:
db_data.iloc[2000001:3000000,:].to_csv("db_3.csv")
db_data.iloc[3000001:,:].to_csv("db_4.csv")

In [35]:
db_json_path = "E:\datafountain\dataset_2_origin\db"
os.listdir(db_json_path )

['part-00000', 'part-00000.gz', 'part-00001', 'part-00001.gz']

In [26]:
db_sqlinfo = db_data["sql_info"]
db_sqlinfo.groupby(db_sqlinfo).count().to_csv("E:/datafountain/test1.csv",sep="$",encoding="utf_8_sig")

E:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

UnicodeEncodeError: 'gbk' codec can't encode character '\ufffd' in position 154: illegal multibyte sequence

In [14]:
db_sqlinfo.shape

(3878893,)

In [29]:
db_sqlinfo.groupby(db_sqlinfo).describe()

,count,unique,top,freq
sql_info,,,,
"/* mysql-connector-java-5.1.21 ( Revision: ${bzr.revision-id} ) */SELECT @@session.auto_increment_incrementuage' OR Variable_name = 'net_write_timeout' OR Variable_name = 'interactive_timeout' OR Variable_name = 'wait_timeout' OR Variable_name = 'character_set_client' OR Variable_name = 'character_set_connection' OR Variable_name = 'character_set' OR Variable_name = 'character_set_server' OR Variable_name = 'tx_isolation' OR Variable_name = 'transaction_isolation' OR Variable_name = 'character_set_results' OR Variable_name = 'timezone' OR Variable_name = 'time_zone' OR Variable_name = 'system_time_zone' OR Variable_name = 'lower_case_table_names' OR Variable_name = 'max_allowed_packet' OR Variable_name = 'net_buffer_length' OR Variable_name = 'sql_mode' OR Variable_name = 'query_cache_type' OR Variable_name = 'query_cache_size' OR Variable_name = 'init_connect'6&t2=232546&n=1&screen=1&spm-cnt=0.0','NULL','2015-05-04 19:13:47',NULL,NULL,'安全')e39f68ae25258%26src%3D%22http%253A%252F%252Fpan.baidu.com%252Fshare%252Flink%253Fshareid%253D2707122595%2526uk%253D2740166737%22&module=other&isDown=-1','NULL','2015-05-04 19:13:47',NULL,NULL,'安全')",2,1,/* mysql-connector-java-5.1.21 ( Revision: ${b...,2
"/* mysql-connector-java-5.1.21 ( Revision: ${bzr.revision-id} ) */SELECT @@session.auto_increment_incrementuage' OR Variable_name = 'net_write_timeout' OR Variable_name = 'interactive_timeout' OR Variable_name = 'wait_timeout' OR Variable_name = 'character_set_client' OR Variable_name = 'character_set_connection' OR Variable_name = 'character_set' OR Variable_name = 'character_set_server' OR Variable_name = 'tx_isolation' OR Variable_name = 'transaction_isolation' OR Variable_name = 'character_set_results' OR Variable_name = 'timezone' OR Variable_name = 'time_zone' OR Variable_name = 'system_time_zone' OR Variable_name = 'lower_case_table_names' OR Variable_name = 'max_allowed_packet' OR Variable_name = 'net_buffer_length' OR Variable_name = 'sql_mode' OR Variable_name = 'query_cache_type' OR Variable_name = 'query_cache_size' OR Variable_name = 'init_connect'qihoo.net\""}]', '5', '0')",2,1,/* mysql-connector-java-5.1.21 ( Revision: ${b...,2
"/* mysql-connector-java-5.1.21 ( Revision: ${bzr.revision-id} ) */SHOW VARIABLES WHERE Variable_name ='language' OR Variable_name = 'net_write_timeout' OR Variable_name = 'interactive_timeout' OR Variable_name = 'wait_timeout' OR Variable_name = 'character_set_client' OR Variable_name = 'character_set_connection' OR Variable_name = 'character_set' OR Variable_name = 'character_set_server' OR Variable_name = 'tx_isolation' OR Variable_name = 'transaction_isolation' OR Variable_name = 'character_set_results' OR Variable_name = 'timezone' OR Variable_name = 'time_zone' OR Variable_name = 'system_time_zone' OR Variable_name = 'lower_case_table_names' OR Variable_name = 'max_allowed_packet' OR Variable_name = 'net_buffer_length' OR Variable_name = 'sql_mode' OR Variable_name = 'query_cache_type' OR Variable_name = 'query_cache_size' OR Variable_name = 'init_connect'6&t2=232546&n=1&screen=1&spm-cnt=0.0','NULL','2015-05-04 19:13:47',NULL,NULL,'安全')e39f68ae25258%26src%3D%22http%253A%252F%252Fpan.baidu.com%252Fshare%252Flink%253Fshareid%253D2707122595%2526uk%253D2740166737%22&module=other&isDown=-1','NULL','2015-05-04 19:13:47',NULL,NULL,'安全')",2,1,/* mysql-connector-java-5.1.21 ( Revision: ${b...,2
"/* mysql-connector-java-5.1.21 ( Revision: ${bzr.revision-id} ) */SHOW VARIABLES WHERE Variable_name ='language' OR Variable_name = 'net_write_timeout' OR Variable_name = 'interactive_timeout' OR Variable_name = 'wait_timeout' OR Variable_name = 'character_set_client' OR Variable_name = 'character_set_connection' OR Variable_name = 'character_set' OR Variable_name = 'character_set_server' OR Variable_name = 'tx_isolation' OR Variable_name = 'transaction_isolation' OR Variable_name = 'character_set_results' OR Variable_name = 'timezone' OR Variable_name = 'time_zone' OR Variable_name = 'system_time_zone' OR Variable_name = 'lower_case_table_names' OR Variable_name = 'max_allowed_packet' OR Variable_name = 'net_buffer_length' OR Variable_name = 'sql_mode' OR Variable_name = 'query_cache_type' OR Variable_name = 'query_cache_size' OR Variable_name = 'init_connect'qihoo.net\""}]', '5', '0')",2,1,/* mysql-connector-java-5.1.21 ( Revision: ${b...,2
"CALL sp_GetSrvModuleControlInfo('UserDataServer', 'GameDic')150429 where ad_user_id='160185657' and create_date='2015-04-29'='160185657' and create_date='2015-04-29'5657' and create_date>='../../../../../../../../windows/win.ini",2,1,CALL sp_GetSrvModuleControlInfo('UserDataServe...,2
"CALL sp_GetSrvModuleControlInfo('UserDataServer', 'GameDic')ent` a left join (channel b left join sub_channel c on b.id=c.channel_id)",1,1,CALL sp_GetSrvModuleControlInfo('UserDataServe...,1
"CALL sp_GetSrvModuleControlInfo('UserDataServer', 'GameDic')iled_times` = 10 ) ORDER BY id LIMIT 0,25 1 ../../../../../windows/win.ini",1,1,CALL sp_GetSrvModuleControlInfo('UserDataServe...,1
"CALL sp_GetSrvModuleControlInfo('UserDataServer', 'GrowDic'))50429 where ad_user_id='160185657' and create_date='2015-04-29'='160185657' and create_date='2015-04-29'5657' and create_date>='../../../../../../../../windows/win.ini",1,1,CALL sp_GetSrvModuleControlInfo('UserDataServe...,1
"CALL sp_GetSrvModuleControlInfo('UserDataServer', 'GrowDic'))led_times` = 10 ) ORDER BY id LIMIT 0,25 1 ../../../../../windows/win.ini",1,1,CALL sp_GetSrvModuleControlInfo('UserDataServe...,1
"CALL sp_GetSrvModuleControlInfo('UserDataServer', 'GrowDic'))nt` a left join (channel b left join sub_channel c on b.id=c.channel_id)",1,1,CALL sp_GetSrvModuleControlInfo('UserDataServe...,1
"CALL sp_GetSrvModuleControlInfo('UserDataServer', 'MoneyDic')50429 where ad_user_id='160185657' and create_date='2015-04-29'='160185657' and create_date='2015-04-29'5657' and create_date>='../../../../../../../../windows/win.ini",1,1,CALL sp_GetSrvModuleControlInfo('UserDataServe...,1
"CALL sp_GetSrvModuleControlInfo('UserDataServer', 'MoneyDic')led_times` = 10 ) ORDER BY id LIMIT 0,25 1 ../../../../../windows/win.ini",1,1,CALL sp_GetSrvModuleControlInfo('UserDataServe...,1
"CALL sp_GetSrvModuleControlInfo('UserDataServer', 'MoneyDic')nt` a left join (channel b left join sub_channel c on b.id=c.channel_id)",1,1,CALL sp_GetSrvModuleControlInfo('UserDataServe...,1
"CALL sp_GetSrvModuleControlInfo('UserDataServer', 'PhpParam')50429 where ad_user_id='160185657' and create_date='2015-04-29'='160185657' and create_date='2015-04-29'5657' and create_date>='../../../../../../../../windows/win.ini",1,1,CALL sp_GetSrvModuleControlInfo('UserDataServe...,1
"CALL sp_GetSrvModuleControlInfo('UserDataServer', 'PhpParam')led_times` = 10 ) ORDER BY id LIMIT 0,25 1 ../../../../../windows/win.ini",1,1,CALL sp_GetSrvModuleControlInfo('UserDataServe...,1
"CALL sp_GetSrvModuleControlInfo('UserDataServer', 'PhpParam')nt` a left join (channel b left join sub_channel c on b.id=c.channel_id)",1,1,CALL sp_GetSrvModuleControlInfo('UserDataServe...,1
"CALL sp_GetSrvModuleControlInfo('UserDataServer', 'WareDic'))50429 where ad_user_id='160185657' and create_date='2015-04-29'='160185657' and create_date='2015-04-29'5657' and create_date>='../../../../../../../../windows/win.ini",1,1,CALL sp_GetSrvModuleControlInfo('UserDataServe...,1
"CALL sp_GetSrvModuleControlInfo('UserDataServer', 'WareDic'))led_times` = 10 ) ORDER BY id LIMIT 0,25 1 ../../../../../windows/win.ini",1,1,CALL sp_GetSrvModuleControlInfo('UserDataServe...,1
"CALL sp_GetSrvModuleControlInfo('UserDataServer', 'WareDic'))nt` a left join (channel b left join sub_channel c on b.id=c.channel_id)",1,1,CALL sp_GetSrvModuleControlInfo('UserDataServe...,1
"CALL sp_GetSrvModuleControlInfo('UserTaskServer', 'TaskDataDef') a left join (channel b left join sub_channel c on b.id=c.channel_id)",2,1,CALL sp_GetSrvModuleControlInfo('UserTaskServe...,2
"CALL sp_GetSrvModuleControlInfo('UserTaskServer', 'TaskDataDef')ot.ini",2,1,CALL sp_GetSrvModuleControlInfo('UserTaskServe...,2
"CALL sp_GetSrvModuleControlInfo('UserTaskServer', 'TaskDataDef')ws,sum(total_cost) as cost from ad_stats_plan_report where ad_user_id='160185657' and create_date>='2015-04-29' and create_date<='2015-04-29' and ad_plan_id in(C:\windows\win.ini",1,1,CALL sp_GetSrvModuleControlInfo('UserTaskServe...,1
"INSERT INTO multiUI_tasktotal (userTask,taskDescription,totalCase,totalFalseCase,executeState) VALUES('DefaultBubble','pc端验证气泡case',0,0,'开始执行')le_name = 'interactive_timeout' OR Variable_name = 'wait_timeout' OR Variable_name = 'character_set_client' OR Variable_name = 'character_set_connection' OR Variable_name = 'character_set' OR Variable_name = 'character_set_server' OR Variable_name = 'tx_isolation' OR Variable_name = 'transaction_isolation' OR Variable_name = 'character_set_results' OR Variable_name = 'timezone' OR Variable_name = 'time_zone' OR Variable_name = 'system_time_zone' OR Variable_name = 'lower_case_table_names' OR Variable_name = 'max_allowed_packet' OR Variable_name = 'net_buffer_length' OR Variable_name = 'sql_mode' OR Variable_name = 'query_cache_type' OR Variable_name = 'query_cache_size' OR Variable_name = 'init_connect'qihoo.net\""}]', '5', '0')",1,1,"INSERT INTO multiUI_tasktotal (userTask,taskDe...",1
SELECT * FROM `tree` ee`95,1,1,SELECT * FROM `tree` ee`95,1
SELECT * FROM coverpage WHERE `category` = '1' AND `ent_id` = '201074' in (channel b left join sub_channel c on b.id=c.channel_id),1,1,SELECT * FROM coverpage WHERE `category` = '1...,1
SELECT * FROM tjdata WHERE tj_id = '2165' AND status = '1' ORDER BY id DESC LIMIT 1left join sub_channel c on b.id=c.channel_id),1,1,SELECT * FROM tjdata WHERE tj_id = '2165' AN...,1
SELECT * FROM tjdata WHERE tj_id = '2166' AND status = '1' ORDER BY id DESC LIMIT 1left join sub_channel c on b.id=c.channel_id),1,1,SELECT * FROM tjdata WHERE tj_id = '2166' AN...,1
SELECT * FROM tjdata WHERE tj_id = '2167' AND status = '1' ORDER BY id DESC LIMIT 1left join sub_channel c on b.id=c.channel_id),1,1,SELECT * FROM tjdata WHERE tj_id = '2167' AN...,1
SELECT * FROM tjdata WHERE tj_id = '2268' AND status = '1' ORDER BY id DESC LIMIT 1left join sub_channel c on b.id=c.channel_id),1,1,SELECT * FROM tjdata WHERE tj_id = '2268' AN...,1
SELECT * FROM tjdata WHERE tj_id = '2270' AND status = '1' ORDER BY id DESC LIMIT 1left join sub_channel c on b.id=c.channel_id),1,1,SELECT * FROM tjdata WHERE tj_id = '2270' AN...,1
...,...,...,...,...
set autocommit=0version) AS version FROM task_dispatch LIMIT 1:14:00' and push_time <= '2015-05-01 20:14:59' and online_status = 0 and push_status = 0���e���ڇ�<�z�4�X�?)��,1,1,set autocommit=0version) AS version FROM task_...,1
set autocommit=0wnload_task WHERE task_status=0 ORDER BY task_id ASC LIMIT 20 '../../../../../../../../etc/passwd,1,1,set autocommit=0wnload_task WHERE task_status=...,1
set autocommit=0ync_mail where send_flag=0098f6bcd4621d373cade4e832627b4f6_1'�%ǯ>�m��w��?1G*�%�����eO���Zڲ�g~�-ͩ�0ӁQÀ��p$�\?����0l`��S��������e���ڇ�<�z�4�X�?)��,1,1,set autocommit=0ync_mail where send_flag=0098f...,1
set autocommit=0ync_mail where send_flag=06iO�;3�[U����]� :���,30,1,set autocommit=0ync_mail where send_flag=06iO...,30
"set autocommit=0ync_mail where send_flag=08.110.107"" and created_at>DATE_SUB(now(),INTERVAL 15 minute) and protection_on=1 and uptime<1440l`��S��������e���ڇ�<�z�4�X�?)��",1,1,set autocommit=0ync_mail where send_flag=08.11...,1
"set autocommit=0ync_mail where send_flag=08.33.86"" and created_at>DATE_SUB(now(),INTERVAL 15 minute) and protection_on=1 and uptime<144000l`��S��������e���ڇ�<�z�4�X�?)��",1,1,set autocommit=0ync_mail where send_flag=08.33...,1
"set autocommit=0ync_mail where send_flag=08.62.12"" and created_at>DATE_SUB(now(),INTERVAL 15 minute) and protection_on=1 and uptime<1440�0l`��S��������e���ڇ�<�z�4�X�?)��",1,1,set autocommit=0ync_mail where send_flag=08.62...,1
"set autocommit=0ync_mail where send_flag=08.83.138"" and created_at>DATE_SUB(now(),INTERVAL 15 minute) and protection_on=1 and uptime<14400l`��S��������e���ڇ�<�z�4�X�?)��",1,1,set autocommit=0ync_mail where send_flag=08.83...,1
set autocommit=0ync_mail where send_flag=0=4 AND game_id='wlz'me FROM servers WHERE gkey='wlz' ORDER BY idZڲ�g~�-ͩ�0ӁQÀ��p$�\?����0l`��S��������e���ڇ�<�z�4�X�?)��,1,1,set autocommit=0ync_mail where send_flag=0=4 A...,1
set autocommit=0ync_mail where send_flag=0PEATABLE READ��]� :���,13,1,set autocommit=0ync_mail where send_flag=0PEAT...,13
"set autocommit=0ync_mail where send_flag=0PEATABLE READcreated_at>DATE_SUB(now(),INTERVAL 15 minute) and protection_on=1 and uptime<14400um_succ = 0, order_amount_succ = 0�?)��",1,1,set autocommit=0ync_mail where send_flag=0PEAT...,1
set autocommit=0ync_mail where send_flag=0PEATABLE READd='nb2'me FROM servers WHERE gkey='nb2' ORDER BY idZڲ�g~�-ͩ�0ӁQÀ��p$�\?����0l`��S��������e���ڇ�<�z�4�X�?)��,1,1,set autocommit=0ync_mail where send_flag=0PEAT...,1
set autocommit=0ync_mail where send_flag=0PEATABLE READte='2015-05-01' and type=1 and status=1 limit 50���Zڲ�g~�-ͩ�0ӁQÀ��p$�\?����0l`��S��������e���ڇ�<�z�4�X�?)��,1,1,set autocommit=0ync_mail where send_flag=0PEAT...,1
set autocommit=0ync_mail where send_flag=0PEATABLE READte='2015-05-03' and type=1 and status=1 limit 50���Zڲ�g~�-ͩ�0ӁQÀ��p$�\?����0l`��S��������e���ڇ�<�z�4�X�?)��,1,1,set autocommit=0ync_mail where send_flag=0PEAT...,1
set autocommit=0ync_mail where send_flag=0PEATABLE READte='2015-05-03' and type=2 and status=1 limit 50���Zڲ�g~�-ͩ�0ӁQÀ��p$�\?����0l`��S��������e���ڇ�<�z�4�X�?)��,1,1,set autocommit=0ync_mail where send_flag=0PEAT...,1
set autocommit=0ync_mail where send_flag=0ere create_date='2015-05-01' and type=2 and status=1 limit 50���Zڲ�g~�-ͩ�0ӁQÀ��p$�\?����0l`��S��������e���ڇ�<�z�4�X�?)��,1,1,set autocommit=0ync_mail where send_flag=0ere ...,1
set autocommit=0ync_mail where send_flag=0ere create_date='2015-05-02' and type=2 and status=1 limit 50���Zڲ�g~�-ͩ�0ӁQÀ��p$�\?����0l`��S��������e���ڇ�<�z�4�X�?)��,1,1,set autocommit=0ync_mail where send_flag=0ere ...,1
"set autocommit=0zjqid, is_leader FROM obbt.zjuser_team_member WHERE status=13b9b9e42571ed2187d0a19f2fe' and flag=0/../../../boot.ini",1,1,"set autocommit=0zjqid, is_leader FROM obbt.zju...",1
"set autocommit=0zjqid, is_leader FROM obbt.zjuser_team_member WHERE status=1= '../../../../../../../../boot.ini",2,1,"set autocommit=0zjqid, is_leader FROM obbt.zju...",2
"set autocommit=0zjqid, is_leader FROM obbt.zjuser_team_member WHERE status=1= '../../../../../../../../windows/win.ini",1,1,"set autocommit=0zjqid, is_leader FROM obbt.zju...",1
"set autocommit=0zjqid, is_leader FROM obbt.zjuser_team_member WHERE status=1= '16' AND union_id = '../../../../../../../../boot.ini",2,1,"set autocommit=0zjqid, is_leader FROM obbt.zju...",2
"set autocommit=0zjqid, is_leader FROM obbt.zjuser_team_member WHERE status=1= '16' AND union_id = '../../../../../../../../windows/win.ini",2,1,"set autocommit=0zjqid, is_leader FROM obbt.zju...",2
"set autocommit=0zjqid, is_leader FROM obbt.zjuser_team_member WHERE status=1= '22' AND union_id = '../../../../../../../../boot.ini",1,1,"set autocommit=0zjqid, is_leader FROM obbt.zju...",1
"set autocommit=0zjqid, is_leader FROM obbt.zjuser_team_member WHERE status=1ER BY id DESC LIMIT 50 'C:\windows\win.ini",1,1,"set autocommit=0zjqid, is_leader FROM obbt.zju...",1
"set autocommit=0zjqid, is_leader FROM obbt.zjuser_team_member WHERE status=1ap",1,1,"set autocommit=0zjqid, is_leader FROM obbt.zju...",1
"set autocommit=0zjqid, is_leader FROM obbt.zjuser_team_member WHERE status=1cian_manifesto, (technician_grade + 0) AS tgrade FROM helpton_technicianhnician_type, technician_grade_name, technician_service_number, technician_service_min_number, technician_job_type FROM helpton_techniciances_topic, services.report_count AS services_report_count, services.disabled AS services_disabled, services.availability_zone AS services_availability_zone",1,1,"set autocommit=0zjqid, is_leader FROM obbt.zju...",1
set autocommit=0��搵��t�!�s~��ZN,187,1,set autocommit=0��搵��t�!�s~��ZN,187
set names 'utf8'4294967295,43,1,set names 'utf8'4294967295,43
show enginesor #4294967295,1,1,show enginesor #4294967295,1
"update multiUI_tasktotal set totalCase=33,totalFalseCase= 1,executeState='执行完毕' where taskID=943ntuage' OR Variable_name = 'net_write_timeout' OR Variable_name = 'interactive_timeout' OR Variable_name = 'wait_timeout' OR Variable_name = 'character_set_client' OR Variable_name = 'character_set_connection' OR Variable_name = 'character_set' OR Variable_name = 'character_set_server' OR Variable_name = 'tx_isolation' OR Variable_name = 'transaction_isolation' OR Variable_name = 'character_set_results' OR Variable_name = 'timezone' OR Variable_name = 'time_zone' OR Variable_name = 'system_time_zone' OR Variable_name = 'lower_case_table_names' OR Variable_name = 'max_allowed_packet' OR Variable_name = 'net_buffer_length' OR Variable_name = 'sql_mode' OR Variable_name = 'query_cache_type' OR Variable_name = 'query_cache_size' OR Variable_name = 'init_connect'6&t2=232546&n=1&screen=1&spm-cnt=0.0','NULL','2015-05-04 19:13:47',NULL,NULL,'安全')e39f68ae25258%26src%3D%22http%253A%252F%252Fpan.baidu.com%252Fshare%252Flink%253Fshareid%253D2707122595%2526uk%253D2740166737%22&module=other&isDown=-1','NULL','2015-05-04 19:13:47',NULL,NULL,'安全')",1,1,"update multiUI_tasktotal set totalCase=33,tota...",1

In [37]:
db_data = pd.read_json(db_json_path+"\part-00001")

ValueError: Trailing data

In [36]:
db_json_path+"\part-00001"

'E:\\datafountain\\dataset_2_origin\\db\\part-00001'