In [1]:
import os
import pandas as pd
import numpy as np

In [19]:
login_csv_dir_path = "E:\\datafountain\\dataset_2\\login\\csv\\"
login_csv_data_path_list = os.listdir(login_csv_dir_path)
print(login_csv_data_path_list)

['part-00000.csv', 'part-00001.csv']

In [20]:
login_csv_data1 = pd.read_csv( login_csv_dir_path+login_csv_data_path_list[0],engine='c')

In [ ]:
login_csv_data2 =  pd.read_csv(login_csv_dir_path+login_csv_data_path_list[1],engine='c')

In [21]:
login_csv_data1.head()

,Unnamed: 0,destination_ip,destination_port,info,password,protocol,record_time,source_ip,source_port,user
0,0,10.49.22.87,21,530 Logout.,f379eaf3c831b04de153469d1bec345e,ftp,2019-05-30 23:51:46.734,10.49.212.206,35910,lss6
1,1,10.49.22.87,21,530 Login authentication failed,f379eaf3c831b04de153469d1bec345e,ftp,2019-05-30 23:51:46.734,10.49.212.206,35910,lss6
2,2,10.24.249.104,3306,mysql login success,6c570961c863501d1af3346af287b801,mysql,2019-05-30 23:51:46.921,10.56.92.187,56173,lss6
3,3,10.24.249.104,3306,mysql login success,0b470c0ef029a53a2111561dcf2a642b,mysql,2019-05-30 23:51:47.427,10.56.92.187,56174,lss6
4,4,10.49.148.131,3306,mysql login success,1db2720439a620e362a8aae227fe7493,mysql,2019-05-30 23:51:47.791,10.49.148.130,55799,uyhrnf

In [23]:
#查看多少行
login_csv_data1.shape

(5015135, 10)

In [39]:
#查看多少种状态信息
login_info1 = login_csv_data1["info"]
login_info1.drop_duplicates()

0                                               530 Logout.
1                           530 Login authentication failed
2                                       mysql login success
48                                     STATUS_LOGON_FAILURE
169                     331 User root OK. Password required
1696                                   STATUS_LOGON_SUCCESS
38065                                 authorization success
192116                     530 Login or password incorrect!
216267                             authentication successed
277095                         230 User logged in, proceed.
920351                                internal server error
1443167                               230 Login successful.
1782875             530 Sorry, no ANONYMOUS access allowed.
1979319                                Unknow command AUTH
3131305    �޷���½�������û�POP����δ��ͨ��authorization failed
4105831    230 Anonymous access granted, restrictions apply
Name: info, dtype: object

In [40]:
login_protocol1 = login_csv_data1["protocol"]
login_protocol1.drop_duplicates()

0           ftp
2         mysql
48          smb
38065       pop
216267     smtp
Name: protocol, dtype: object

In [31]:
login_csv_data1.head()

,Unnamed: 0,destination_ip,destination_port,info,password,protocol,record_time,source_ip,source_port,user
0,0,10.49.22.87,21,530 Logout.,f379eaf3c831b04de153469d1bec345e,ftp,2019-05-30 23:51:46.734,10.49.212.206,35910,lss6
1,1,10.49.22.87,21,530 Login authentication failed,f379eaf3c831b04de153469d1bec345e,ftp,2019-05-30 23:51:46.734,10.49.212.206,35910,lss6
2,2,10.24.249.104,3306,mysql login success,6c570961c863501d1af3346af287b801,mysql,2019-05-30 23:51:46.921,10.56.92.187,56173,lss6
3,3,10.24.249.104,3306,mysql login success,0b470c0ef029a53a2111561dcf2a642b,mysql,2019-05-30 23:51:47.427,10.56.92.187,56174,lss6
4,4,10.49.148.131,3306,mysql login success,1db2720439a620e362a8aae227fe7493,mysql,2019-05-30 23:51:47.791,10.49.148.130,55799,uyhrnf

In [41]:
login_protocol1.groupby(login_protocol1).count()

protocol
ftp      3107464
mysql    1797371
pop          435
smb       109835
smtp          30
Name: protocol, dtype: int64

In [42]:
login_info1.groupby(login_info1).count()

info
230 Anonymous access granted, restrictions apply          4
230 Login successful.                                     2
230 User logged in, proceed.                             12
331 User root OK. Password required                    4279
530 Login authentication failed                     1764062
530 Login or password incorrect!                          2
530 Logout.                                         1339095
530 Sorry, no ANONYMOUS access allowed.                   8
STATUS_LOGON_FAILURE                                  99408
STATUS_LOGON_SUCCESS                                  10427
Unknow command AUTH                                       1
authentication successed                                 30
authorization success                                   430
internal server error                                     2
mysql login success                                 1797371
�޷���½�������û�POP����δ��ͨ��authorization failed          2
Name: info, dtype: int64